<div class="login-box">
  <div class="item">
    <mat-card>
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <i class="material-icons">lock</i> Login
          </ng-template>
          <form (submit)="submit()" novalidate>
            <mat-form-field>
              <input matInput type="text" [(ngModel)]="username" name="username" placeholder="Username">
            </mat-form-field>
            <mat-form-field>
              <input matInput type="password" [(ngModel)]="password" name="password" placeholder="Password">
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit">Send</button>
          </form>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <i class="material-icons">person_add</i> Create account
          </ng-template>
          <app-signup (onSignup)="loginAfterSignup($event)"></app-signup>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
</div>
