<div class="box">
  <mat-card>
    <mat-sidenav-container fullscreen>
      <mat-sidenav #sidenav align="end" mode="side" opened="true">
        <mat-toolbar color="primary">
          <span class="header">
            {{ showChatroomsList ? 'Chatrooms' : 'Users in room' }}
          </span>
          <span class="space"></span>
          <a class="material-icons"
             [ngClass]="{ 'active-icon': showChatroomsList }"
             *ngIf="sidenav.opened"
             (click)="showChatroomsList = !showChatroomsList"
             matTooltip="Chatrooms">
            library_add
          </a>
          <a class="material-icons"
             *ngIf="sidenav.opened"
             (click)="sidenav.toggle()"
             matTooltip="Menu">
            menu
          </a>
        </mat-toolbar>

        <app-chatroom-list [list]="roomUsers[selectedRoom.key]" *ngIf="!showChatroomsList"></app-chatroom-list>

        <app-chatroom-room-list [list]="rooms"
                                [userRooms]="roomList"
                                *ngIf="showChatroomsList"
                                (onJoin)="joinToRoom($event)"
                                (onOpen)="setRoom($event)"
                                (onLeave)="leftFromRoom($event)"></app-chatroom-room-list>

        <mat-toolbar color="primary" class="bottom">
          <span class="space"></span>
          <a [matMenuTriggerFor]="appMenu" class="material-icons" matTooltip="Settings">settings</a>
          <mat-menu #appMenu="matMenu">
            <button mat-menu-item>Change password</button>
            <button mat-menu-item>Edit profile details</button>
            <button mat-menu-item (click)="changeProfileImageDialogOpen()">Change profile image</button>
          </mat-menu>
          <a (click)="signout()" class="material-icons" matTooltip="Logout">power_settings_new</a>
        </mat-toolbar>
      </mat-sidenav>

      <mat-toolbar color="primary">
        <button mat-button [matMenuTriggerFor]="room">
          Room: {{selectedRoom?.name}}
          <mat-chip-list>
            <mat-chip>
              <i class="material-icons">person</i>
              {{roomUsers[selectedRoom?.key]?.length}}
            </mat-chip>
          </mat-chip-list>
        </button>
        <mat-menu #room="matMenu">
          <button mat-menu-item *ngFor="let item of roomList" (click)="setRoom(item)">
            {{item.name}}
            <mat-chip-list>
            <mat-chip>
              <i class="material-icons">person</i>
              {{roomUsers[item.key]?.length}}
            </mat-chip>
            </mat-chip-list>
          </button>
        </mat-menu>
        <span class="space"></span>
        <a class="material-icons"
           [ngClass]="{ 'active-icon': showChatroomsList }"
           *ngIf="!sidenav.opened"
           (click)="showChatroomsList = !showChatroomsList;sidenav.toggle()"
           matTooltip="Chatrooms">
          library_add
        </a>
        <a class="material-icons" *ngIf="!sidenav.opened" (click)="showChatroomsList = false;sidenav.toggle()" matTooltip="Menu">menu</a>
      </mat-toolbar>
      <app-chatroom-messages [list]="roomMessages[selectedRoom.key]"
                             [users]="roomUsers[selectedRoom.key]"></app-chatroom-messages>
      <app-message-form (onSend)="sendMessage($event)"></app-message-form>
    </mat-sidenav-container>
  </mat-card>
</div>
