<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<form [formGroup]="signupForm" (submit)="signup()">
  <mat-form-field>
    <input matInput type="text" formControlName="username" name="username" placeholder="Username">
    <div matSuffix>*</div>
    <mat-hint align="start"><strong>Only A-Z . , and space characters</strong></mat-hint>
    <mat-hint align="end">{{signupForm.get('username').value.length}} / 30</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" formControlName="password" name="password" placeholder="Password">
    <div matSuffix>*</div>
    <mat-hint align="start"><strong>Minimum 4 characters</strong></mat-hint>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" formControlName="repeat_password" name="repeat_password" placeholder="Repeat password">
    <div matSuffix>*</div>
  </mat-form-field>

  <mat-select placeholder="Gender" formControlName="gender">
    <mat-option [value]="'M'">
      Male
    </mat-option>
    <mat-option [value]="'F'">
      Female
    </mat-option>
    <mat-option [value]="''">
      Indefinite
    </mat-option>
  </mat-select>

  <mat-form-field>
    <input matInput type="text" formControlName="city" name="city" placeholder="City">
    <mat-hint align="start"><strong>Only A-Z and space characters</strong></mat-hint>
  </mat-form-field>

  <button class="signup-button"
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="signupForm.invalid || loading"
  >
    {{ loading ? 'In progress...' : 'Signup' }}
  </button>
</form>

<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
