.list {
  height: calc(100% - 130px);
  margin: 65px 0;
  overflow-y: auto;
  overflow-x: hidden;
}

mat-list-item:not(.active) {
  cursor: pointer;
  transition: background 0.5s ease;
}

mat-list-item:hover:not(.active) {
  background: #f5f5f5;
}

.active {
  background: #fff9c4;
}

.city {
  font-size: 0.75em !important;
  color: #808080;
}
