<div class="list">
  <mat-list *ngIf="list">
    <mat-list-item
      [@flyInOutAnimation]
      [ngClass]="{ 'active': item.username === user.username }"
      *ngFor="let item of list">
      <img matListAvatar
           src="{{apiUrl}}/assets/{{item.image}}"
           style="width: 40px;"
           alt="">
      <p matLine>
        <span [ngSwitch]="item.gender">
          <strong *ngSwitchCase="'M'">&#9792;</strong>
          <strong *ngSwitchCase="'F'">&#9794;</strong>
          <strong *ngSwitchDefault></strong>
        </span>
        {{item.username}}
      </p>
      <p matLine class="city" *ngIf="item.city">{{item.city}}</p>
    </mat-list-item>
  </mat-list>
</div>
